<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "index" id="SiteLogo"}}nepal portal{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="MyNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li>{{#link-to "index"}}{{fa-icon "home"}} Home{{/link-to}}</li>
                <li>{{#link-to "petrol_finder"}}{{fa-icon "tint"}} Petrol Finder{{/link-to}}</li>
                <li>{{#link-to "loadshedding"}}{{fa-icon "lightbulb-o"}} Loadshedding Schedule{{/link-to}}</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Misc {{fa-icon "level-down"}}</a>
                    <ul class="dropdown-menu">
                        <li>{{#link-to "emergency_numbers"}}Emergency Numbers{{/link-to}}</li>
                    </ul>
                </li>
                <li>{{#link-to "about"}}{{fa-icon "info"}} About{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>