doctype html
html
    head
        //link(rel="stylesheet", href="style.css", data-inline)
    body
        p Hi #{name},
        p #{owner.firstName} #{owner.lastName} has invited you to: #{title}.
        p You can sign up here: 
            <a href={/calendars/appointment/{appointmentId}> Sign up</a>
        p Here are event information:  
        p Event:  #{title}
        p Location: #{location}
        p Time: #{start} to #{end}
        p Description: #{description}
