doctype html
html
    head
        link(rel="stylesheet", href="style.css", data-inline)
    body
        p Hi #{name},
        p #{faculty.firstName} #{faculty.lastName} has cancelled appointment: #{title}.
        p If you have any question, email: #{faculty.email}
           